<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Radiance. | 用户登录</title>
    <!-- Style CSS -->
    <link rel="stylesheet" href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" />
    <link rel="stylesheet" href="../static/css/style.min.css" th:href="@{/css/style.min.css}" />
    <link rel="stylesheet" href="../static/css/iconfont.css" th:href="@{/css/iconfont.css}" />
    <link rel="stylesheet" href="../static/js/validator-0.7.3/jquery.validator.css" th:href="@{/js/validator-0.7.3/jquery.validator.css}" />
    <link rel="stylesheet" href="../static/css/sweetalert/sweetalert.css" th:href="@{/css/sweetalert/sweetalert.css}" />
    <!--<link rel="stylesheet" href="../static/css/jq22.css"  th:href="@{/css/jq22.css}"  />-->
    <!-- main JS libs -->
    <script src="../static/js/jquery-1.8.3.js" th:src="@{/js/jquery-1.8.3.js}"></script>
    <script type="text/javascript" src="../static/js/validator-0.7.3/jquery.validator.js" th:src="@{/js/validator-0.7.3/jquery.validator.js}"></script>
    <script type="text/javascript" src="../static/js/validator-0.7.3/local/zh_CN.js" th:src="@{/js/validator-0.7.3/local/zh_CN.js}"></script>
    <script type="text/javascript" src="../static/js/host.js" th:src="@{/js/host.js}"></script>
    <script type="text/javascript" src="../static/js/sweetalert/sweetalert.min.js" th:src="@{/js/sweetalert/sweetalert.min.js}"></script>
    <!--<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>-->
</head>

<body bgcolor="#FFFFFF">
错误信息：<h4 th:text="${msg}"></h4>
    <div class="middle-box text-center loginscreen">
        <div>
            <div onclick="jumpToBlog();" class="animated animated bounceIn">
                <i class="icon iconfont">&#xf0028;</i>
            </div>
            <form id="userForm" class="animated fadeIn"  data-validator-option="{theme:'yellow_right_effect',stopOnError:true}" action="" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="账号" data-rule="用户名:required" id="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="密码" data-rule="密码:required;password" id="password">
                </div>
                <div class="form-group col-xs-6" style="padding-left: 0px;">
                    <img alt="验证码" onclick="this.src='/captcha?d='+new Date()*1" src="/captcha"/>
                </div>
                <div class="form-group col-xs-6">
                    <span><input type="text" class="form-control" placeholder="验证码" data-rule="验证码:required" id = "verifyCode"></span>
                </div>
                <div class="form-group" style="text-align : left">
                    <label><input type="checkbox" id="rememberMe" style="width: 12px; height: 12px;margin-right: 5px;">记住我</label>
                </div>
                <button type="submit" class="btn btn-primary block full-width " onclick="login()">登录</button>
                <br/>
                <br/>
                <!--<p>账号：<input type="text" name="username" value="admin"/></p>-->
                <!--<p>密码：<input type="text" name="password" value="123456"/></p>-->

                <!--&lt;!&ndash; <img alt="这是图片" src="/img/001.png"/> &ndash;&gt;-->
                <!--<img alt="验证码" onclick="this.src='/captcha?d='+new Date()*1" src="/captcha"/>-->

                <!--<p>验证码<input type="text" name="verifyCode"/></p>-->
                <!--<p><input type="submit" value="登录"/></p>-->
            </form>
            <br/>
            <br/>
            <div class = "animated bounceInLeft" onclick="jumpToBlog();">
                © 2017 All Rights Reserved. start621 | Radiance.
            </div>
        </div>
    </div>

</body>
<script type="text/javascript">
    //跳转到个人博客
    function jumpToBlog(){
        location.href = "https://start621.github.io/";
    }

    function login() {
        var username = $("#username").val();
        var password = $("#password").val();
        var verifyCode = $("#verifyCode").val();
        var rememberMe =$('#rememberMe').is(':checked');
        $.ajax({
            type: "POST",
            data: {
                "username": username,
                "password": password,
                "verifyCode": verifyCode
            },
            dataType: "json",
            url: "/login",
            success: function (result) {
                if (result.status != 200) {
                    swal("登录失败！", result.message);
                } else {
                    swal({title:"登录成功！",text:"登录成功，进入系统！",type:"success"},
                    function () {
                        location.href = "/index";
                    });
                }

            }
        });
    }

</script>
</html>