<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<blockquote><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;"><span
        style="color: rgb(178, 178, 178);">想要把执行力变强，<span style="color: rgb(178, 178, 178);">最好的办法是什么？</span></span></p>
    <p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;"><span style="color: rgb(178, 178, 178);">——“别想太多，先把牛逼吹出去”。</span>
    </p>
    <p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;"><span style="color:#b2b2b2">这样，要脸的话，这件事情成功做下来的概率必然提高，尤其对于狮子座来说是一个利好消息。</span>
    </p>
    <p style="text-align: right; margin-top: 20px; margin-bottom: 20px; line-height: 2em;"><span
            style="color:#b2b2b2">v</span></p></blockquote><p><img class="" data-ratio="0.9041095890410958"
                                                                   data-s="300,640"
                                                                   src="https://mmbiz.qpic.cn/mmbiz_png/svVtGTR21OEmEAJka84ocRSPs4XASfWmv8sedibEUw8zrKJya97iaaXFjPOBuPt4KNc8gQ8KjneApSWt5z7fIkqA/0?wx_fmt=png"
                                                                   data-type="png" data-w="146" height="70"
                                                                   style="width: 77px; height: 70px;" width="77"></p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">第三期结课之后，我依原计划决定先给自己放个假。</p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">
    于是，腾出了一些可以愉快地画画儿的时间，鉴于以前有过一张图拖上一两年的黑历史，这次决定把创作过程、以及过程中的想法都给连载在公众号上，希望做成一个有意义的形式，试试。</p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">既然是比较随性的心得，就先不那么严谨地按知识板块来聊了，想到哪儿说到哪儿。</p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em; text-align: center;"><img class=""
                                                                                                  data-ratio="0.5"
                                                                                                  src="https://mmbiz.qpic.cn/mmbiz/svVtGTR21OEVgNf15ZxqnibxJ4l9O32gkcTH9thtssEO9h5T49Ric5iaolPBE0N5s8tAIpkWlKElB9oXnV0LsA61w/0?wx_fmt=gif"
                                                                                                  data-type="gif"
                                                                                                  data-w="100"
                                                                                                  style="width: auto;">
</p><p style="text-align: center;"><img class="" data-ratio="0.10638297872340426" data-s="300,640"
                                        src="https://mmbiz.qpic.cn/mmbiz/svVtGTR21OGOQJsLeIGJqqJrQhLWoMrDHVoYrHiaGhiadmtBDITRVCxXcibcL8kgbq0OnMibIMQs1YD2RhVUJHFvXQ/0?wx_fmt=png"
                                        data-type="png" data-w="423"></p>
<ul class="list-paddingleft-2" style="list-style-type: disc;">
    <li><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;"><strong><span
            style="color: rgb(217, 33, 66);">为什么打算同时画7个图？</span></strong></p></li>
</ul><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">因为感觉“7”是一个不错的数字，嗯，就是这样。</p>
<ul class="list-paddingleft-2" style="list-style-type: disc;">
    <li><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;"><strong><span
            style="color: rgb(217, 33, 66);">为什么你的私人练习都不画设计而只画故事性的插图呢？</span></strong></p></li>
</ul><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">道理很简单——这样做更好玩儿啊。</p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">设计从本质上就是内容<span
        style="color: rgb(178, 178, 178);">（世界观、细节）</span>和构成<span
        style="color: rgb(178, 178, 178);">（疏密、大小、衬托、趋势）</span>，所以，即便是插图，插图里的内容和构成安排讲到底也是设计，同样是在考虑内容和构成，让故事和情节作为载体的话，我觉得更好玩。
</p><p style="text-align: center;"><img class="" data-ratio="0.8044692737430168" data-s="300,640"
                                        src="https://mmbiz.qpic.cn/mmbiz_png/svVtGTR21OEmEAJka84ocRSPs4XASfWmzQzTZpXxhmpppbajI0wicoT9oUfzfuL684sVZJAE6OKWQ9pCjKfziaJw/0?wx_fmt=png"
                                        data-type="png" data-w="179" height="85" style="width: 106px; height: 85px;"
                                        width="106"></p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em; text-align: center;"><img class=""
                                                                                                  data-ratio="0.10638297872340426"
                                                                                                  data-s="300,640"
                                                                                                  src="https://mmbiz.qpic.cn/mmbiz/svVtGTR21OGOQJsLeIGJqqJrQhLWoMrDHVoYrHiaGhiadmtBDITRVCxXcibcL8kgbq0OnMibIMQs1YD2RhVUJHFvXQ/0?wx_fmt=png"
                                                                                                  data-type="png"
                                                                                                  data-w="423"
                                                                                                  style="text-align: center; white-space: normal;">
</p><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em; text-align: center;">所以这次还是打算画7个有情节的综合插图。</p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em; text-align: center;"><img class=""
                                                                                                  data-ratio="0.10638297872340426"
                                                                                                  data-s="300,640"
                                                                                                  src="https://mmbiz.qpic.cn/mmbiz/svVtGTR21OGOQJsLeIGJqqJrQhLWoMrDHVoYrHiaGhiadmtBDITRVCxXcibcL8kgbq0OnMibIMQs1YD2RhVUJHFvXQ/0?wx_fmt=png"
                                                                                                  data-type="png"
                                                                                                  data-w="423"
                                                                                                  style="text-align: center; white-space: normal;">
</p><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">
    当你决定利用私人时间做一些带有情节的综合插图练习的时候，首先要搞定的当然就是<strong><span style="color: rgb(217, 33, 66);">“画什么”</span></strong>的问题。</p>
<blockquote><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;"><strong><span
        style="color: rgb(217, 33, 66);">我想画一些私人练习，但是确实不知道画些什么。</span></strong></p></blockquote><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">老实说，我本以为这不太会是一个问题的。</p><p><img class=""
                                                                                                        data-ratio="0.6529411764705882"
                                                                                                        data-s="300,640"
                                                                                                        src="https://mmbiz.qpic.cn/mmbiz_png/svVtGTR21OEmEAJka84ocRSPs4XASfWmJy03fbic28R9xQpAccOKj8BBkhLEKxv1wVT7l0cBAuZjCDCsKQTibVicg/0?wx_fmt=png"
                                                                                                        data-type="png"
                                                                                                        data-w="170"
                                                                                                        height="44"
                                                                                                        style="width: 68px; height: 44px;"
                                                                                                        width="68"></p>
<p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">
    对于我自己来讲，基本上只有“想到但是暂时画不好”和“暂时还没想到”这两种情况，几乎从来没有出现“不知道有什么好画的”这样的问题。</p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">
    因为想要画和不擅长的东西实在是太多了，但是令我感到意外的是很多初学者反倒是不知道画些什么了——在传统的说法里，这叫<span style="color: rgb(217, 33, 66);">“没有表达的欲望”</span>，这可是很要命的。
</p><p><img class="" data-ratio="0.9509803921568627" data-s="300,640"
            src="https://mmbiz.qpic.cn/mmbiz_png/svVtGTR21OGl7sChtC5VBSuIUJNjTogA3Pic9RmtDMwgoN7q9ib1E4qhAMticIAFDyGF0mmzQKynXX3RbdHfLw9bA/0?wx_fmt=png"
            data-type="png" data-w="102" height="59" style="width: 62px; height: 59px;" width="62"></p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;"><span style="color: rgb(217, 33, 66);">我将分两期推送来试着说明：</span>
</p><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;"><span style="color: rgb(217, 33, 66);">““综合练习选题限制”和“产生主题和灵感的方法”，以下是第一部分。</span>
</p><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em; text-align: center;"><img class=""
                                                                                                 data-ratio="0.10638297872340426"
                                                                                                 data-s="300,640"
                                                                                                 src="https://mmbiz.qpic.cn/mmbiz/svVtGTR21OGOQJsLeIGJqqJrQhLWoMrDHVoYrHiaGhiadmtBDITRVCxXcibcL8kgbq0OnMibIMQs1YD2RhVUJHFvXQ/0?wx_fmt=png"
                                                                                                 data-type="png"
                                                                                                 data-w="423"
                                                                                                 style="text-align: center; white-space: normal;">
</p><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">对于私人的综合练习，我不知道各位是如何对待的，我讲讲我自己的看法：</p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;"><strong><span style="color: rgb(217, 33, 66);">一个有意义的综合练习至少应该符合以下标准：</span></strong>
</p>
<blockquote>
    <ul class="list-paddingleft-2" style="list-style-type: disc;">
        <li><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;"><span style="color: rgb(217, 33, 66);">在你看来，它应该是有趣的；</span>
        </p></li>
        <li><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;"><span style="color: rgb(217, 33, 66);">对于你来说，它不应该是“随手拈来”的；</span>
        </p></li>
        <li><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;"><span style="color: rgb(217, 33, 66);">对于你已经学过的知识，它应该具备“验证和测试”的功能。</span><br>
        </p></li>
    </ul>
</blockquote><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">
    这三点非常非常重要，任何一点没有做好，都会导致一个练习事倍功半，逐一分解：</p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em; text-align: center;"><img class=""
                                                                                                  data-ratio="0.10638297872340426"
                                                                                                  data-s="300,640"
                                                                                                  src="https://mmbiz.qpic.cn/mmbiz/svVtGTR21OGOQJsLeIGJqqJrQhLWoMrDHVoYrHiaGhiadmtBDITRVCxXcibcL8kgbq0OnMibIMQs1YD2RhVUJHFvXQ/0?wx_fmt=png"
                                                                                                  data-type="png"
                                                                                                  data-w="423"
                                                                                                  style="text-align: center; white-space: normal;">
</p><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em; text-align: center;"><span
        style="font-size: 18px;"><strong><span style="color: rgb(217, 33, 66);">“在你看来，它应该是有趣的”</span></strong></span>
</p><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">作为一个私人的综合练习，“是否能够取悦别人”不应该是第一命题标准。</p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">我知道很多的创作其实是带有额外的目的性的——</p><p><img class=""
                                                                                                           data-ratio="0.9508196721311475"
                                                                                                           data-s="300,640"
                                                                                                           src="https://mmbiz.qpic.cn/mmbiz_png/svVtGTR21OEmEAJka84ocRSPs4XASfWmhQzQC8hx9nQ175N79bWIF8saFmVucJ58RmGPUjWQoaCUN3ia42Rs9NQ/0?wx_fmt=png"
                                                                                                           data-type="png"
                                                                                                           data-w="122"
                                                                                                           height="81"
                                                                                                           style="width: 85px; height: 81px;"
                                                                                                           width="85">比如：<span
        style="color: rgb(217, 33, 66);">增加粉丝或关注度</span>。</p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">事实上，想要以同一个品质的作品，获得更多的关注的最好方式，无非就是<span
        style="color: rgb(217, 33, 66);">“蹭热点”</span>，比如《神奇女侠》出来了，那么我画个同人，或者Q版的神奇女侠，或者把神奇女侠变成西游记里的唐僧……总之，扣住时事热点，一个作品的传播广度就会大大增加。
</p><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">
    然而我有的时候在想，虽然这么做也许在宣传上非常有效，但是我自己真正是不是觉得这么干特别有趣呢？多数时候我从内心得到的都是否定的回答——有太多的题材我想尝试了，顺着排位的话，我想我不应该先花费时间去做我自己觉得无趣的工作。</p>
<p><img class="" data-ratio="1" data-s="300,640"
        src="https://mmbiz.qpic.cn/mmbiz/svVtGTR21OFtuexJMrDiaZr1FMafvRVyv30H0IKhhTibM7BW50bR6BmlMLZiatBvJiaf9FlMFIiaMh9M9p7Kpicfv7oA/0?wx_fmt=png"
        data-type="png" data-w="37"></p><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;"><span
        style="color: rgb(217, 33, 66);">如果是私人的综合练习，务必优先照顾自己所认可的“趣味性”</span>，当然，如果目的根本不在于有趣而在于宣传效果，那是另一码事，都没错。</p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">
    当你把重点放在“我要画的是我觉得有趣的东西”，而不是“流行的，讨人喜欢的东西”的时候，我猜你就不会有那么大的概率总是去画“一个拿着武器对抗不成比例的巨大怪兽的角色”，或者重复无数遍的老套的“法师手握火球”了。</p><p><img
        class="" data-ratio="1.0425531914893618" data-s="300,640"
        src="https://mmbiz.qpic.cn/mmbiz_png/svVtGTR21OEmEAJka84ocRSPs4XASfWmyPEjBvdKc8hU9jzL3YarDHn050vX1XMSKb04mMrhQ21VMV3g5AaKQg/0?wx_fmt=png"
        data-type="png" data-w="188" height="85" style="width: 82px; height: 85px;" width="82"></p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">
    先打破“这玩意儿必须受欢迎，必须能吸引关注”这样的框架，有利于你找到你自己觉得有趣味的题材。</p><p
        style="margin-top: 20px; margin-bottom: 20px; white-space: normal; line-height: 2em; text-align: center;"><img
        class="" data-ratio="0.10638297872340426" data-s="300,640"
        src="https://mmbiz.qpic.cn/mmbiz/svVtGTR21OGOQJsLeIGJqqJrQhLWoMrDHVoYrHiaGhiadmtBDITRVCxXcibcL8kgbq0OnMibIMQs1YD2RhVUJHFvXQ/0?wx_fmt=png"
        data-type="png" data-w="423"></p><p
        style="margin-top: 20px; margin-bottom: 20px; white-space: normal; line-height: 2em; text-align: center;"><span
        style="font-size: 18px;"><strong><span style="color: rgb(217, 33, 66);">“<span style="color: rgb(217, 33, 66);">对于你来说，它不应该是“随手拈来”的</span>”</span></strong></span>
</p><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">我以前举过一个例子：</p>
<blockquote>
    <ul class="list-paddingleft-2" style="list-style-type: disc;">
        <li><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;"><span
                style="color: rgb(178, 178, 178);">你是一个瘦弱的人，你的极限是拎一个5公斤的哑铃；</span></p></li>
        <li><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;"><span
                style="color: rgb(178, 178, 178);">你的邻居是一个壮汉，他的极限是拎一个20公斤的哑铃。</span></p></li>
    </ul>
    <p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;"><span style="color: rgb(178, 178, 178);">&nbsp;当你们都尽可能以靠近自己的极限去练习的时候，你们才能得到属于各自的最好的练习效果。</span>
    </p>
    <p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;"><span style="color: rgb(178, 178, 178);">同时，可想而知，你拎5公斤时狼狈的程度=壮汉拎20公斤时狼狈的程度。</span>
    </p>
    <p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;"><span style="color: rgb(178, 178, 178);">那么，什么情况下你才会觉得一件事看起来很“6”呢？</span>
    </p>
    <p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;"><span
            style="color: rgb(178, 178, 178);">那就是：</span></p>
    <p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;"><span style="color: rgb(178, 178, 178);">壮汉拎5公斤的哑铃。</span>
    </p></blockquote><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">
    壮汉拎5公斤的哑铃，当然轻而易举非常潇洒，但是对他自己的进步是几乎没有任何帮助的。换言之，<span style="color: rgb(217, 33, 66);">如果你的目的不在于“表演”，你应该努力去突破你的舒适区，而不是用技能去重复自己早已熟练的操作</span>。
</p><p><img class="" data-ratio="1.25503355704698" data-s="300,640"
            src="https://mmbiz.qpic.cn/mmbiz_png/svVtGTR21OEmEAJka84ocRSPs4XASfWm1UsoiajBZjpUvEGiaibEk5Usyxln0icdNvQgeSHHYCog2Ot86bShYxiapHg/0?wx_fmt=png"
            data-type="png" data-w="149" height="104" style="width: 83px; height: 104px;" width="83"></p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">6不6不重要，在具有难度的困境中去突破才是进步的法宝。</p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">因此，给你的综合练习设定难度的时候，最好选那种<span
        style="color: rgb(217, 33, 66);">“比你现有水平稍高一些”</span>的主题<span style="color: rgb(178, 178, 178);">（或内容、或构图、或配色、或布局……）</span>，这会有助于你通过综合练习获得长久的进步。
</p><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">
    当然，我也不太建议你直接入手对你来说过于困难的选题，那有可能会造成太多的挫败感，这个平衡你自己心里得有数。</p><p><img class="" data-ratio="1" data-s="300,640"
                                                                     src="https://mmbiz.qpic.cn/mmbiz/svVtGTR21OGrFmCmuAM2CcWyANhZdj9AP15U5sNKdYeEacvmOsxOnwmU3IXuGjZGWPHX0lZ65B31KXya93AqXQ/0?wx_fmt=jpeg"
                                                                     data-type="jpeg" data-w="48"></p><p
        style="margin-top: 20px; margin-bottom: 20px; white-space: normal; line-height: 2em; text-align: center;"><img
        class="" data-ratio="0.10638297872340426" data-s="300,640"
        src="https://mmbiz.qpic.cn/mmbiz/svVtGTR21OGOQJsLeIGJqqJrQhLWoMrDHVoYrHiaGhiadmtBDITRVCxXcibcL8kgbq0OnMibIMQs1YD2RhVUJHFvXQ/0?wx_fmt=png"
        data-type="png" data-w="423"></p><p
        style="margin-top: 20px; margin-bottom: 20px; white-space: normal; line-height: 2em; text-align: center;"><span
        style="font-size: 18px;"><strong><span style="color: rgb(217, 33, 66);">“<span style="color: rgb(217, 33, 66);">对于你已经学过的知识，它应该具备“验证和测试”的功能</span>”</span></strong></span>
</p><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">综合练习的一大功能正是——“验证”。</p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">
    很多人在日常中做了大量的“单项练习”，比如画了很多人体的动态草稿练习，但是他们甚至没有想过如何判断自己到底学得怎么样……</p><p><img class="" data-ratio="0.9746835443037974"
                                                                            data-s="300,640"
                                                                            src="https://mmbiz.qpic.cn/mmbiz/svVtGTR21OFtuexJMrDiaZr1FMafvRVyvfKwrcYabo0MaTYibke7icZ2ibiaicHfE6oTFA4uhzeSHJe5QxtxdKegYhgQ/0?wx_fmt=png"
                                                                            data-type="png" data-w="79"></p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">
    如果你画了一整个速写本的人体速写，却没法在你创作一个故事性场景的时候，把这些技能转化为很好的场景构成元素，也没法把透视搞对——你很可能在练习过程中就已错失了很多优化练习方法的时机了。</p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">嗯……一个你可能不太愿意承认的事实是：</p>
<blockquote><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;"><span
        style="color: rgb(178, 178, 178);">大多数人并没有定期“检视”自身练习进程的习惯，人类是一种很易于产生“惯性”的生物，当你临摹照片上的色彩略微拿手一些之后，你就会倾向于反复不断地去临摹照片色彩。</span><br>
</p></blockquote><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">
    而临摹照片色彩的真正目的，却并不是真的要“复制一个照片”——我们最初是想通过这种方式学习色彩而已，不是吗？</p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">可是你在惯性的重复中已经忘掉这件事了！</p><p><img class=""
                                                                                                        data-ratio="0.7342657342657343"
                                                                                                        data-s="300,640"
                                                                                                        src="https://mmbiz.qpic.cn/mmbiz_png/svVtGTR21OEmEAJka84ocRSPs4XASfWmUUSr92UKJC8xUww0GLpibjkXkcNeTnqrZdAT1ia3IDl5zwjVtqK15W4Q/0?wx_fmt=png"
                                                                                                        data-type="png"
                                                                                                        data-w="143"
                                                                                                        height="80"
                                                                                                        style="width: 109px; height: 80px;"
                                                                                                        width="109"></p>
<p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;"><span style="color: rgb(217, 33, 66);">要破掉“单项练习的惯性”，以及检验自己对于某些知识的理解程度，你需要定期进行私人的综合练习的创作。</span>
</p><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">例如：</p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">
    你花了一些时间学习了质感的相关原理，也临摹了一些带有质感的照片，那么，验证你是否到位地掌握刻画质感技能的方法，就是设计一个充满各种质感的画面，然后在完成它的过程中，尽可能用上你所学到的理论和技巧。</p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">一次综合练习就是一次检测，就会带来有价值的反馈<span
        style="color: rgb(178, 178, 178);">（无论画得是不是好，反馈都将会是正面的）</span>，这些反馈将指出你进行下一轮单项练习的方向。</p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em; text-align: center;"><img class=""
                                                                                                  data-ratio="0.10638297872340426"
                                                                                                  data-s="300,640"
                                                                                                  src="https://mmbiz.qpic.cn/mmbiz/svVtGTR21OGOQJsLeIGJqqJrQhLWoMrDHVoYrHiaGhiadmtBDITRVCxXcibcL8kgbq0OnMibIMQs1YD2RhVUJHFvXQ/0?wx_fmt=png"
                                                                                                  data-type="png"
                                                                                                  data-w="423"
                                                                                                  style="text-align: center; white-space: normal;">
</p><p style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">
    以上，是一部分关于“综合练习选题限制”的建议，在本专题的下一篇推送里，我会结合最近设想的7个主题，来和各位聊聊“如何产生综合练习主题的灵感”，以及怎样丰富故事化场景的内容。</p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;">
    今晚就到这儿吧，最近更新慢是因为可能要搞大事，于是每天花不少时间在整理和查阅各种资料上，各位莫慌，反正都是精华。</p><p style="text-align: center;"></p><p
        style="margin-top: 20px; margin-bottom: 20px; line-height: 2em;"><br></p>